body {
    margin: 0;
}

.header {
    background-color: #1b5e20; /* Green */
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this */
    padding: 0 30px;
    box-sizing: border-box;
    border-bottom: 4px solid gold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.logo img {
    height: 85px;
    width: auto;
}

.nav-bar {
    color: white;
    display: flex;  
    text-decoration: none;
}

.nav-bar a {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: large;
    text-align: right;
    display: inline-flex;
    justify-content: right;
    text-decoration: none;
    transition: transform 0.3s ease; 
}